@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-content: center;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: rgb(34, 75, 153);
  align-items: center;
}
button {
  color: white;
  background-color: blue;
  border: 1px solid blue;
  border-radius: 10px;
  font-size: 24px;
  padding: 8px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
button:active {
  background-color: #2d19e2;
}
form {
  height: 38px;
  display: flex;
  font-size: 24px;

}
input {
  width: 400px;
  border-radius: 10px;
  border: none;
}
ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

li {
  display: flex;
}
.spinner {
  display: flex;
  position: relative;
  top: 50%;
  left: 50%
}